# Secrets
.env
.env.production
GOOGLE_API_KEY

# Agents
.agent/

# Databse
*.db

# Python
__pycache__/
*.pyc
venv/
.venv/
.ve

# IDE
.vscode/
.idea/
main_backup.py
test.py
fill.py
traefik/acme.json
mcp_client.py
