http:
  routers:
    # Route for the main app.
    fastapi-router:
      rule: "Host(`{{ env "DOMAIN_NAME" }}`)"
      entryPoints:
        - websecure
      service: fastapi-service
      middlewares:
        - "auth-middleware"
      tls:
        certResolver: resolver

    # Route for MCP.
    mcp-router:
      rule: "Host(`{{ env "DOMAIN_NAME" }}`) && PathPrefix(`/mcp`)"
      entryPoints:
        - websecure
      service: mcp-service
      middlewares:
        - "auth-middleware"
      tls:
        certResolver: resolver

  middlewares:
    # Define the Basic Auth middleware
    auth-middleware:
      basicAuth:
        users:
          - "{{ env "BASIC_AUTH_USERS" }}"

  services:
    fastapi-service:
      loadBalancer:
        servers:
          - url: "http://web:5000"

    mcp-service:
      loadBalancer:
        servers:
          - url: "http://mcp:6432"
