api:
  dashboard: true
  insecure: true # Allow access to 80' port.

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

certificatesResolvers:
  resolver:
    acme:
      storage: "/acme.json"
      tlsChallenge: {}

providers:
  docker:
    exposedByDefault: false
  file:
    filename: "/etc/traefik/dynamic_conf.yaml"
    watch: true
